=head1 NAME

Lingua::Guess - A statistical language guesser

=head1 SYNOPSIS

[% INCLUDE "synopsis.pl" %]

=head1 METHODS

=head2 new

=head2 guess

returns arrayref of hashes in the form
[ { name => NAME, score => SCORE }]

=head2 simple_guess

=head1 COPYRIGHT
	
(c) 2004 National Institute for Technology and Liberal Education

=head1 LICENSE

This software is released under version 2.0 of the GNU Public License

=head1 AUTHOR
	
Maciej Ceglowski E<lt>maciej@ceglowski.comE<gt>
